@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background-color: transparent;
}

body {
    scroll-behavior: smooth;
    background-color: transparent;
}

html,
body {
    height: 100%;
    min-height: 100lvh;
}

section {
    overflow:hidden;
}

input, select:focus, textarea {
    font-size: 16px !important;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
